name: Build

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - 'main'
      - 'hotfix-*'

jobs:
  tests:
    name: PHP ${{ matrix.php-version }} on ${{ matrix.os }} (${{ matrix.composer-options }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        php-version:
          - "8.0"
          - "8.1"
          - "8.2"
          - "8.3"
        os:
          - ubuntu-latest
          - windows-latest
          - macOS-latest
        composer-options:
          - ""
          - "--prefer-lowest"
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up PHP ${{ matrix.php-version }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: pcntl, posix, intl
          coverage: xdebug
          ini-values: error_reporting=E_ALL

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Install dependencies
        run: composer update
          --prefer-dist
          --no-progress
          ${{ matrix.composer-options }}

      - name: Run tests
        run: composer test
